language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
# Enable 3.7 without globally enabling sudo and dist: xenial for other build
# jobs. This can be adjusted when xenial becomes the default distro for builds.
# https://github.com/travis-ci/travis-ci/issues/9815#issuecomment-401756442
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
install:
  - pip install tox-travis
script:
  - tox
